html {
    background-color: #232626;
}

body {
	  border: #35403A 10px groove;
      margin: 50px;
      padding: 50px;
      background-color: #4C594F;
}
header {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
h1 {
	text-align: center;
	margin-bottom: 50px;
	font-family: "UnifrakturMaguntia", cursive;
	font-size: 50px
}

h2 {
	margin-bottom: 25px;
	font-family: "MedievalSharp", cursive;
	font-size: 25px
}
h3 {
	margin-top: 3px;
	margin-bottom: 1px;
	font-family: "MedievalSharp", cursive;
	font-size: 17px
}
.nomargintop {
	margin-top: 0px;
}
.nomarginbottom {
	margin-bottom: 0px;
}
.dividing_line {
	border-bottom: 1px solid black;
	margin-bottom: 50px;
}
a {
	color: inherit;
}
#navmenu {
    	background:#68776f;
    	width: 80%;
	height: 100 px;
	padding 10px;
	margin: 0 auto;
	margin-bottom: 75px;
}
#current-page {
	background-color: #8c9590;
}
.navwords li {
  display: inline-table;
  margin-right: 9%;
}

.navwords a {
  display: table;
  padding: 10px;
  text-decoration: none;
}

.navwords a:hover {
  background-color: #8c9590;
  opacity: 0.7;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.galimage {
  width: 300px; 
  height: 300px; 
  margin-right: 10px;
  margin-bottom: 10px; 
}
.galimage:hover {
	opacity: 0.6;
}
.image {
  height: 300px; 
  margin-right: 10px;
  margin-bottom: 10px; 
}
.image:hover {
	opacity: 0.6;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #68776f;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border-color: #8c9590; 
}

input::placeholder,
textarea::placeholder {
  color: #232626
}

input[type="radio"] {
  appearance: none; 
  width: 10px;
  height: 10px; 
  border: 2px solid #232626; 
  margin-left: 20px; 
}

input[type="radio"]:checked {
  background-color: #232626; 
  border-color: #8c9590; 
}

input[type="submit"] {
  appearance: none; 
  width: 60px;
  height: 23px; 
  border: 2px solid #232626; 
  background-color: #8c9590; 
}

input[type="checkbox"] {
  appearance: none; 
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-right: 10px;
  border: 2px solid #232626; 
}

input[type="checkbox"]:checked {
  background-color: #232626; 
  border-color: #8c9590; 
}

input[type="color"] {
  appearance: none; 
  width: 50px;
  height: 30px;
  vertical-align: middle;  
  margin-left: 10px;
  border: 2px solid #232626; 
  background-color: #8c9590; 
}

input[type="date"] {
  appearance: none; 
  width: 100px;
  height: 20px;
  vertical-align: middle;  
  margin-left: 10px;
  border: 2px solid #232626; 
  background-color: #8c9590; 
}

input[type="button"] {
  appearance: none; 
  width: 20px;
  height: 20px; 
  border: 2px solid #232626; 
  background-color: #8c9590; 
}
input[type="button"]:active {
  background-color: #232626; 
  border-color: #8c9590; 
}
.video-container {
  max-width: 300px; 
  margin: 0 auto; 
}

footer {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-top: 70px;
	text-align: center;
	font-size: 12px;
}
